*
{
	margin: 0; 
	padding: 0;

}

body
{
	background: #FBF8EF url('imagens/img/fundo.png') repeat-x;
	font: 12px "Lucida Grande";
}

#container-principal 
{
	width: 1080px; 
	margin: 0 auto; 
	
	margin-top: 30px;
}

.flutuar-imagem
{
	float: left;
}

#container-principal nav ul
{
	list-style-type: none;
	float: right;
}

#container-principal nav ul li 
{
	float: left;
	padding-left: 15px;
	padding-top: 5px;
	text-transform: uppercase;
}

a
{
	color: #af670a;
	text-decoration: none;
}

a:hover
{
	color: #227115;
}

#container-conteudo
{
	padding-top: 55px;
	
}


#conteudo-principal
{
	float: left;
	width: 710px; 
}

#conteudo-lateral
{
	float: right;
	width: 350px;
}

h3
{
	font-size: 12px;
	color: #227115;
	margin-bottom: 15px;
	text-transform: uppercase;
}
#postagens
{
	margin-top: 13px;
	margin-left: 25px;

}

#video
{
	float: left;


}

#mapa
{
	
	float: right;
	margin-right: 30px;
}

#exposicoes
{
	margin-top: 25px;
	float: left;
}

#exposicoes ul
{
	padding-left: 40px;
}

#historia
{
	float: right;
	width: 310px;
	margin-top: 25px;
	margin-right: 30px;
	
}



